* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    
}

/* header styles */
header {
        padding: 20px 35px;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: right;
        background-image: linear-gradient(rgba(0,0,0,0.7), transparent), url("../images/background.JPG");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}

header h1 a {
    text-decoration: none;
    color: white;
    padding: 3px 3px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: white;
    text-decoration: none;
    position: relative;
}

header nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    transition: width 0.3s;
}

header nav ul li a:hover::after {
    width: 50%;
}

/* end of header styles */

/* hero */

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), transparent), url("../images/background.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text {
    padding: 100px;
    position: absolute;
    bottom: 7%;
}

.hero-text p {
    font-size: 50px;
    font-weight: 600;
}

.hero-text h2 {
    font-size: 200px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: -10px;
}

.hero-text h3 {
    font-size: 50px;
    font-weight: 500;
}
/* about me */

.about-me {
    background-image: linear-gradient(rgba(0,0,0,0.7), transparent), url("../images/background.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 25px;
}

.about-me h2 {
    font-size: 1.55vw;
}

/* my project styles */

.my-projects {
    background-image: linear-gradient(rgba(0,0,0,0.7), transparent), url("../images/background.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.my-projects h2 {
    font-size: 1.55vw;
}
.project {
    padding-left: 100px;
    position: relative;

}

.project img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


.description {
    position: absolute;
    bottom: 0;
    bottom: 2px;
    font-size: 20px;
}
.larger {
    width: 600px;
    height: 300px;
}

.smaller {
    width: 500px;
    height: 250px;
}

/* contact section */

.contact {
    background-image: linear-gradient(rgba(0,0,0,0.7), transparent), url("../images/background.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 1.1vw;
}

.contact-form input, .contact-form textarea {
    display: block;
    padding: 5px 15px;
}

button {
    color: black;
}