* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #1824c7;
    --seconday-color: #f49f1c;
    --tertiary-color: rgba(226, 226, 226, 0.76);
}

/* header styles */
header {
    background: var(--primary-color);
    padding: 1.5em 2em;
}

header a {
    text-decoration: none;
    color: var(--seconday-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2rem;
    position: relative;
}

header nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--seconday-color);
    transition: width 0.3s;
}

header nav ul li a:hover::after {
    width: 50%;
}
/* end of header styles */

/* start of hero */
.hero {
    background: linear-gradient(#1824c7, #f49f1c);
    height: 100vh;
    color: var(--tertiary-color);
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 5em;
}

.social {
    display: flex;
    flex-direction: column;
}
/* end of hero */

section {
    padding: 2rem 0;
}

body {
    font-size: 1.3rem;
    line-height: 1.2;
}
.primary-border {
    border-color: var(--seconday-color);
}
/* start of about me */
.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-me h2 {
    font-size: 3rem;
    color: var(--seconday-color);
    padding-bottom: 1em;
    margin: 0 auto 0 auto;
}
.about-me img {
    width: 15em;
    height: 15em;
    border-radius: 50%;
}
/* end of about me */

/* start of projects */

.my-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--primary-color);
    background: linear-gradient(#f49f1c,#1824c7);
}

.my-projects h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.project {
    position: relative;
}

.project img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

.description {
    position: absolute;
    bottom: 0;
    bottom: 2px;
    font-size: 1.125rem;
    color: white;
}

.contact {
    background: var(--primary-color);
    color: var(--tertiary-color);
    text-align: center;
}

@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }

}

@media screen and (max-width: 768px) {
    .hero {
        flex: 0 100%;
    }
}
@media screen and (max-width: 575px) {
    header nav ul {
        display: block;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
}